<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <script src="https://api-maps.yandex.ru/2.1/?apikey=b9a1302b-f7b0-4b49-a88f-027f5888ec03&lang=ru_RU" type="text/javascript"></script>
    <meta charset="UTF-8">
    <title>NetCoverage</title>
</head>
<body style="margin: 0; width: 100vw; height: 100vh">
    <img style="z-index: 1001; position: absolute; padding-top: 15px; padding-left: 12px" src="designImages/logoMobile.svg">
    <div id="map" style="width: 100%; height: 100%; background: white;">

    </div>

    <script src="js/mobileMap.js"></script>
</body>
</html>
